body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #908d8d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.veryoutside {
  width: 100%;
  /* height: 100%; */
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  display: none;
  background-size: cover;
  margin: auto 0;
}

.page {
  /* padding: 20px; */
  background-color: #fdfaf7;
  /* color: #785e3a; */
  border: solid 1px #c2b5a3;
  overflow: hidden;
  background-size: cover;
  /* background-image: url("./img/b/1.jpg"); */
  text-shadow: 0 0 10px white, 0 0 10px white;
}

.page:nth-child(even) {
  border-radius: 13px 0px 0px 13px;
}

.page:nth-child(odd) {
  border-radius: 0px 13px 13px 0px;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-size: cover;
  font-size: 30px;
  /* font-weight: bold; */
  padding: 20px;
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page .page-content .page-image {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 80%;
  text-align: justify;
  /* margin-top: 10px;
  padding-top: 10px; */
  box-sizing: border-box;
  /* border-top: solid 1px #f4e8d7; */
}

.page .page-content .page-footer {
  height: 30px;
  /* border-top: solid 1px #f4e8d7; */
  font-size: 80%;
  color: #998466;
}

.page.--left .page-text {
  vertical-align: bottom;
  bottom: 0px;
}


.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--left .page-footer {
  text-align: left;
  margin: 10px;
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
  text-align: right;
  margin: 10px;
}

.page.hard {
  background-color: #f2e8d9;
  border: solid 1px #998466;
}

.page.page-cover {
  background-color: #e3d0b5;
  color: #785e3a;
  border: solid 1px #998466;
}

.page.page-cover h2 {
  text-align: center;
  padding-top: 50%;
  font-size: 210%;
}

.page.page-cover.page-cover-top {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5), 10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.container {
  width: 100%;
  position: fixed;
  bottom: 10px;
  text-align: center;
  line-height: 150%;
}


.index {
  position: fixed;
  width: 130px;
  height: 650px;
  background-color: whitesmoke;
  border-radius: 5px;
  right: 150px;
  z-index: -10;
}

.indexchild {
  width: 120px;
  height: 38px;
  line-height: 38px;
  background-color: grey;
  margin: 5px;
  border-radius: 3px;
  color: white;
  vertical-align: middle;
  text-align: center;
  font-weight: bold;

}


@media (max-width: 2000px

  /*1023px*/
) {
  .left {
    position: fixed;
    left: 180px;
  }

  .right {
    position: fixed;
    right: 180px;
  }

  .left,
  .right {
    width: 50px;
    height: 80px;
    border: none;
    font-size: 70px;
    background: none;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 5px black;

  }
}

@media (max-width: 767px) {
  .left {
    position: fixed;
    left: 10px;
  }

  .right {
    position: fixed;
    right: 10px;
  }

  .left,
  .right {
    width: 20px;
    height: 50px;
    border: none;
    font-size: 40px;
    background: none;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 5px black;

  }

  .container {
    font-size: 8px;
    width: 100%;
    position: fixed;
    bottom: 10px;
    text-align: center;
    line-height: 150%;
  }

}