@import "~react-image-gallery/styles/css/image-gallery.css";

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* overflow-x: hidden; */
  top: 0;
  right: 0;

  overflow: hidden;
}

a {
  text-decoration: none;
  color: black;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.demo-book {
  position: relative;
}

.flip-book {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
  display: none;
  background-size: cover;
  margin: auto 0;
}

.page {
  /* padding: 20px; */
  background-color: #fdfaf7;
  /* color: #785e3a; */
  border: solid 1px #c2b5a3;
  overflow: hidden;
  background-size: cover;
  text-shadow: 0 0 10px white, 0 0 10px white;
}

.page .page-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  background-size: cover;
  font-size: 30px;
  background-position: center;
}

.page .page-content .page-header {
  height: 30px;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;
}

.page .page-content .page-image {
  height: 100%;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.page .page-content .page-text {
  height: 100%;
  flex-grow: 1;
  font-size: 60%;
  text-align: justify;
  /* margin-top: 10px;
  padding-top: 10px; */
  box-sizing: border-box;
  margin: 20px;
  /* border-top: solid 1px #f4e8d7; */
}

.page .page-content .page-footer {
  height: 30px;
  /* border-top: solid 1px #f4e8d7; */
  font-size: 80%;
  color: #998466;
}

.page.--left .page-text {
  vertical-align: bottom;
  bottom: 0px;
}

.page.--left {
  border-right: 0;
  box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--left .page-footer {
  text-align: left;
  margin: 10px;
}

.page.--right {
  border-left: 0;
  box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}

.page.--right .page-footer {
  text-align: right;
  margin: 10px;
}

.page.hard {
  background-color: #f2e8d9;
  border: solid 1px #998466;
}

.page.page-cover {
  background-color: #e3d0b5;
  color: #785e3a;
  border: solid 1px #998466;
  text-align: center;
  vertical-align: middle;
}

.page.page-cover h2 {
  text-align: center;
  padding-top: 50%;
  font-size: 210%;
}

.page.page-cover.page-cover-top {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
    -2px 0 5px 2px rgba(0, 0, 0, 0.4);
}

.page.page-cover.page-cover-bottom {
  box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
    10px 0 8px 0px rgba(0, 0, 0, 0.4);
}

.smallbtn {
  background: none;
  border: none;
  font-size: 20px;
}

.index {
  position: fixed;
  width: 145px;
  height: 610px;
  background-color: whitesmoke;
  border-radius: 0px 5px 5px 0px;
  /* right: 150px; */
  left: calc(50% + 450px);
}

.indexchild {
  width: 125px;
  height: 38px;
  line-height: 38px;
  background-color: grey;
  margin: 5px;
  border-radius: 3px;
  color: white;
  vertical-align: middle;
  text-align: left;
  /* font-weight: bold; */
  cursor: pointer;
  padding-left: 10px;
  font-size: 15px;
}

div .map {
  text-align: center;
}

.small {
  font-size: 15px;
}

@media (max-width: 2000px

  /*1023px*/
) {
  body {
    background-color: #8f8d8d;
  }

  .veryoutside {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
  }

  .left {
    position: fixed;
    left: calc(50% - 450px);
  }

  .right {
    position: fixed;
    right: calc(50% - 450px);
  }

  .left,
  .right {
    width: 50px;
    height: 80px;
    border: none;
    font-size: 70px;
    background: none;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 5px black;
    z-index: 100;
  }

  .page:nth-child(even) {
    border-radius: 13px 0px 0px 13px;
    /* border-right: 1px solid #898989;
    background: linear-gradient(to right, #fff 92%, #9f9f9f 100%); */
  }

  .page:nth-child(odd) {
    border-radius: 0px 13px 13px 0px;
    /* border-left: 1px solid #7e7e7e;
    background: linear-gradient(to left, #fff 95%, #898989 100%); */
  }

  .container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    line-height: 150%;
    padding: 8px 0px 8px 0px;
    background-color: rgba(255, 255, 255, 0.3);
  }

  .topbar {
    display: none;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
  }

  #sidenav {
    display: none;
  }
}

@media (max-width: 767px) {
  body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    position: fixed;
    top: 0px;
    right: 0px;
    background-color: whitesmoke;
  }

  .copyright {
    display: none;
  }

  .veryoutside {
    width: 100%;
    height: 100%;
    text-align: center;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .container {
    width: 100%;
    position: fixed;
    bottom: 0px;
    text-align: center;
    line-height: 150%;
    padding: 2px 0px 2px 0px;
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: none;
  }

  .left {
    position: fixed;
    left: 10px;
  }

  .right {
    position: fixed;
    right: 10px;
  }

  .left,
  .right {
    width: 20px;
    height: 50px;
    border: none;
    font-size: 40px;
    background: none;
    color: whitesmoke;
    text-shadow: 0 0 5px black, 0 0 5px black;
    top: calc(50% - 25px);
  }

  .page:nth-child(even) {
    border-radius: 0;
  }

  .page:nth-child(odd) {
    border-radius: 0;
  }

  .container {
    font-size: 8px;
    width: 100%;
    position: fixed;
    right: 0px;
    bottom: 0px;
    padding-bottom: 5px;
    text-align: center;
    line-height: 150%;
    z-index: 100;
    background: none;
    text-shadow: 0 0 5px white, 0 0 5px white;
  }

  .topbar {
    width: 100vw !important;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    position: fixed;
    flex-direction: row;
    z-index: 90;
    line-height: 48px;
    top: 0px;
    text-align: center;
  }

  .topbar div:nth-child(1) {
    flex-grow: 1;
  }

  .topbar div:nth-child(2) {
    flex-grow: 4;
  }

  .topbar div:nth-child(3) {
    flex-grow: 1;
  }

  .topbar i {
    font-size: 25px;
  }

  .hamburg {
    padding-top: 2px;
  }

  .phonecall {
    padding-top: 3px;
    padding-right: 1px;
  }

  .index {
    /* display: none; */
    text-align: center;
  }

  .demo-book {
    position: fixed;
    top: 50px;
    min-width: 300px !important;
  }

  .stf__wrapper {
    padding-bottom: 0 !important;
    /* left: 50%; */
  }

  .stf__block {
    /* left: 65px; */
  }

  .demo-book div div {
    /* left: 0px; */
  }

  .demo-book div div div {
    width: 100% !important;
    /* left: 0px !important; */
  }

  #sidenav {
    display: inline-block;
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0px;
    left: 0px;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    text-align: left;
    color: white;
    text-overflow: clip;
    white-space: nowrap;
  }

  #sidenav div {
    height: 40px;
    padding: 2px 6px 2px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  #sidenav div:hover {
    color: #f1f1f1;
  }

  #sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 30px;
    margin-left: 50px;
    margin-top: 5px;
  }
}